
            <div class="answer">
                <div class="row " style="margin-left: 30px">
                    <div class="col-md-8 col-sm-12"><u>
                        {{ answer.author.username }}</u>
                    </div>
                    <div class="col-md-4 col-sm-12"><u>
                        {{ answer.create_date|date:"d.m.Y, H:i:s" }}</u>
                    </div>
                </div>
            <div class="row">
              <div class='col-12 col-md-3 quest'>
                <img src="/{{ answer.author.upload.url }}" width="90%">
              </div> 
              <div class='col-12 col-md-9'>
                {{ answer.text }}
              </div>
            </div>
            <div class="foot">
              <div class="quest_foot">
               <div class="row" style="margin-left: 30px; margin-top: 5px; display: flex;">
                  <div class="col-md-3 col-sm-12 ">
                    <form action=" " method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ answer.id }}">
                        <input type="hidden" name="type" value="answer">
                      <div class="row rating">
                       <div class="col-md-4 ratCell"><button name="like" value="m"><img src="/static/img/minus.ico" width="100%"></button></div>
                       <div class="col-md-4 ratCell">{{ answer.rating }}</div>
                       <div class="col-md-4 ratCell"><button name="like" value="p"><img src="/static/img/plus.ico" width="100%"></button></div>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-6"></div>
                 <div class="correct_ans">Correct! <input type="checkbox" name="rightans" value="{{ answer.id }}">
                 </div>
                </div>
              </div>
            </div>
            </div>


