          <article class="lmarg20">
            <header>
              <h1><u><a href="{% url 'question_detail' question.id %}">{{ question.title }}</a></u></h1>
            </header>
            <div class="row " style="margin-left: 30px">
                <div class="col-md-8 col-sm-12"><u>
                    {{ question.author.username }}</u>
                </div>
                <div class="col-md-4 col-sm-12"><u>
                    {{ question.create_date|date:"d.m.Y, H:i:s" }}</u>
                </div>
            </div>
            <div class="row">
              <div class='col-md-3 col-sm-12 quest_img'>
                  <img src="/{{ question.author.upload.url }}">
              </div> 
              <div class='col-md-9 col-sm-12 quest_text'>
                {{ question.text }}
              </div>
            </div>
            <div class="foot">
              <div class="quest_foot">
               <div class="row" style="margin-left: 30px">
                  <div class="col-md-3 col-sm-12 ">
                    <form action=" " method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ question.id }}">
                        <input type="hidden" name="type" value="question">
                      <div class="row rating">
                       <div class="col-4 ratCell"><button name="like" value="m"><img src="/static/img/minus.ico" width="100%"></button></div>
                       <div class="col-4 ratCell">{{ question.status.likesNum }}</div>
                       <div class="col-4 ratCell"><button name="like" value="p"><img src="/static/img/plus.ico" width="100%"></button></div>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-3 col-sm-12"><a href="#">answer ({{ question.answer_set.all.count }})</a></div>
                 <div class="col-md-6 col-sm-12">Tags:
                    {% for tag in question.tags.all %}
                        <u><a href="{% url 'tag_detail' tag.title %}">{{ tag.title }}</a></u>
                    {% endfor %}
                 </div>
                </div>
              </div>
            </div>
            <hr>
          </article>