
            <div class="answer">
            <div class="row">
              <div class='col-12 col-md-3 quest'>
                <img src="/{{ answer.author.upload.url }}" width="90%">
              </div> 
              <div class='col-12 col-md-9'>
                {{ answer.text }}
              </div>
            </div>
            <div class="foot">
              <div class="quest_foot">
               <div class="row" style="margin-left: 15px; margin-top: 5px; display: flex;">
                  <div class="col-md-3 col-sm-12 ">
                    <form action=" " method="GET">
                      <div class="row rating">
                       <div class="col-md-4 ratCell"><button><img src="/static/img/plus.ico" width="100%"></button></div>
                       <div class="col-md-4 ratCell">{{ answer.rating }}</div>
                       <div class="col-md-4 ratCell"><button><img src="/static/img/minus.ico" width="100%"></button></div>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-6"></div>
                 <div class="correct_ans">Correct! <input type="checkbox" name="rightans" value="{{ answer.id }}">
                 </div>
                </div>
              </div>
            </div>
            </div>


