{% extends "base.html" %}

{% block title %}ASK.me - Tag{% endblock %}

{% block content %}

          <div class="row quest_head">
            <h1>Tag: {{ tag_word }}</h1>
            </div>

              {% for question in questions %}
                  {% include "question.html" %}
              {% endfor %}


          <div class="pages">
          <ul>
            <li>
              {% if page.has_previous %}
                  <a href="{% url 'tag_detail' tag_word %}?page={{ page.previous_page_number }}">previous</a>
              {% endif %}
            </li>
            <li>
                Page {{ page.number }} of {{ page.paginator.num_pages }}
            </li>
            <li>
              {% if page.has_next %}
                  <a href="{% url 'tag_detail' tag_word %}?page={{ page.next_page_number }}">next</a>
              {% endif %}
          </ul>
        </div>


{% endblock %}